.title {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    margin-left: 250px; /* Ajustez cette valeur pour déplacer le titre vers la droite */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    margin-left: 90px;
  }
  
  th, td {
    padding: 12px 15px;
  }
  
  thead {
    background-color: #009879;
    color: #ffffff;
  }
  
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  