.container {
  display: flex;
  height: 100vh;
}

.example-container {
  height: 100%;
}

.example-sidenav {
  width: 200px;
}

.active-link {
  font-weight: bold;
  color: #1976d2; /* Primary color */
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Change this to the desired background color */
  height: 100%;
  overflow: auto;
}

.router-outlet + * {
  flex: 1;
  padding: 20px; /* Add some padding for the content */
  background-color: inherit; /* Ensure it inherits the background color */
}
